.error {
  color: var(--darken-red);
}

.main__rents-section {
  display: flex;
  flex-direction: column;
}

.divider {
  height: 100%;
  border-left: 1px solid var(--brown);
}

.rent-list {
  flex-grow: 1;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rent-list__item {
  position: relative;
  border-bottom: 1px solid var(--brown);
  padding: 0 0 10px 0;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 10px;
}

.rent-list__type {
  font-size: 12px;
  grid-column: span 2;
  position: relative;
  top: 3px;
}

.rent-list__type--active {
  color: var(--olive);
}

.rent-list__type--inactive {
  color: var(--darken-red);
}

.rent-list__link {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: var(--brown);
  }
}

.rent-list__id {
  margin: 0;
}

.rent-list__dates {

}

.rent-list__row {
  grid-column: span 2;
}

.rent__button {
  position: absolute;
  width: fit-content;
  top: 50%;
  right: 0;
  translate: 0 -50%;
}

.delete-modal {
  position: relative;
  padding: 20px;
}

.delete-modal h2 {
  margin: 0 0 10px 0;
}

.delete-modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;

  display: flex;

  &:hover {
    color: var(--brown);
  }
}

.delete-modal-icon {
  width: 100%;
  height: 100%;
}